* {
    font-family: "Nunito", sans-serif;
}

body {
    margin: 0;
}

.container {
    display: flex;
}

.box {
    background-color: #85CEF0;
    min-height: 100vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}

.mostrar {
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    padding: 5% 25%;
    margin: 5%;
    cursor: pointer;
}

.mostrar:hover {
    background-color: #E2E5E7;
}

.ocultar {
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    padding: 5% 25%;
    margin: 5%;
    cursor: pointer;
}

.ocultar:hover {
    background-color: #E2E5E7;
}

span {
    background-color: #E2E5E7;
}

.chat {
    justify-content: center;
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-right: 10%;
    box-shadow: 2px 3px 10px grey;
    background-color: white;
    overflow-y: auto; height: 100%;
}

.textarea {
    margin-top: 80%;
}

textarea {
    width: 400px;
}

.enviar {
    background-color: #F9DC6A;
    padding: 10px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    margin-bottom: 90;
}

.texto {
    background-color: #EAFFD2;
    justify-content: left;
    padding: 5% 15%;
    align-self: flex-start
}

.oculto {
    display: none;
}